/*============
   Variables
=============*/
$yellow-general: #FEBA12;
$brown-general: #4D4D4D;
$btn-text-color-light: #FFF;
$btn-text-color-dark: #404040;
$btn-bg-color-success: #00BE75;
$btn-bg-color-primary: #4F6879;
$btn-bg-color-secondary: #FFF;
$btn-bg-color-danger: #E66666;
$error-color: #E86C6B;
$alert-error-bg-color: #F8E4E4;
$alert-error-border-color: #EBB8B8;
$alert-error-text-color: #CA5453;
$focus-inputs: #00BE75;
$bg-active-hover-select-dropdown: #F8F8F8;
$drag-color-text: #7D878D;
$activeReservation: #00BE75;
$finishedReservation: #E66666;
$upcomingReservation: #FEBA12;
$canceledReservation: #8D8D8D;