
/*=========================================
    PROJECT: Downtime Parking
    Developer: Mario Henriquez
    Team Website: http://wawand.co
    Twitter: @wawandco
    October 20, 2016
=========================================*/

@import "variables";
@import "mixins";
@import "general";
@import "login";
@import "header";
@import "main";
@import "detail";
@import "pso";
@import "availability";
@import "datepicker";
@import "map-component";
@import "input-slider";
@import "input-switch";
@import "input-checkbox";
@import "input-radio";
@import "select-dropdown";
@import "input-file-upload";
@import "multiselect";
@import "reservation";
@import "report";
@import "profile";
@import "coupon";
@import "customer";
@import "movements";
@import "overview";
@import "rate";
@import "file-choose";
@import "loading";
@import "autocomplete";
@import "responsive";
