/* You can add global styles to this file, and also import other style files */

/*=========================================
    PROJECT: Downtime Parking
    Developer: Mario Henriquez
    Team Website: http://wawand.co
    Twitter: @wawandco
    October 20, 2016
=========================================*/

@import "css/variables";
@import "css/mixins";
@import "css/general";
@import "css/login";
@import "css/header";
@import "css/main";
@import "css/detail";
@import "css/pso";
@import "css/availability";
@import "css/datepicker";
@import "css/map-component";
@import "css/input-slider";
@import "css/input-switch";
@import "css/input-checkbox";
@import "css/input-radio";
@import "css/select-dropdown";
@import "css/input-file-upload";
@import "css/multiselect";
@import "css/reservation";
@import "css/report";
@import "css/profile";
@import "css/coupon";
@import "css/customer";
@import "css/movements";
@import "css/overview";
@import "css/rate";
@import "css/file-choose";
@import "css/loading";
@import "css/autocomplete";
@import "css/responsive";